 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
h2 
{ 
    display:inline; 
    color: #698194
}
p.a {
    display: inline;
    color: #4e3f1d;
}
p.b {
    display: inline;
    text-transform: capitalize;
    color: #7f8c14;
}
